<div id="flash-message">
    {{#if messages.error}}
    <div class="alert alert-danger"><p>{{messages.error}}</p></div>
    {{else}}
    <div class="alert alert-success"><p>{{messages.success}}</p></div>
    {{/if}}
</div>