<div id="post-{{id}}" class="photocard">
    <img src="{{thumbnail}}" alt="Missing Image" class="photoElement">
    <div class="titleElement">
        <h6 id="photo-title">{{title}}</h6>
        <a href="/posts/{{id}}" class="anchor-buttons">Post Details</a>
    </div>
</div>